<% provide :title, t(".title") %>
<h1><%= t".description"%></h1>
<p>
  <%= raw t".railstutorialhelp", tut: link_to(t(".railstutorialhelptut"),
    t(".railstutorialhelplink")) %>

  <%= raw t".railstutorialbook", tut: link_to(t(".railstutorialbooktut"),
    t(".railstutorialbooklink")) %>
</p>
