<% provide :title, t(".title") %>
<h1><%= t".description"%></h1>
<p>
  <%= raw  t".railstutorialhelp", tut: link_to(t(".railstutorialhelptut"), "http://www.railstutorial.org/help") %>

  <%= raw t".railstutorialbook", tut: link_to(t(".railstutorialbooktut"), "http://www.railstutorial.org/book") %>
</p>
